<div class="grid-cell grid-cell-sm-12">
  <div class="grid">
    <div class="grid-cell grid-cell-sm-11">
      <div class="search">
        <input type="text" name="search" placeholder="Search Lists, Tasks and Users.." />
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="grid-cell grid-cell-sm-12">
      <div id="lists"></div>
    </div>
  </div>
</div>
